@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Create New Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Add</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Remove</a>
                    @if (!item.Name.Equals("Admin"))
                    {
                        <span> | </span><a asp-action="Delete" asp-route-id="@item.Id">Delete Role</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
